<!DOCTYPE html>
<html lang="en">
<head>
<title>Military Unit Personnel</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
  body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif;}
  body {font-size:16px;}

  .sticky-header-row {position: sticky; top: -1px;}

  .table-header {text-align: center; font-size: 14px;}
  .table-body {font-size: 13px;}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:200px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Military<br>Unit Personnel</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{BASE_LINK}}" onclick="w3_close()" class="w3-bar-item w3-button w3-white">Home</a> 
    <a href="{{BASE_LINK}}/add/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add Personnel</a> 
    <a href="{{BASE_LINK}}/injury/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Record Injury</a> 
    <a href="{{BASE_LINK}}/presence/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Presence</a> 
    <a href="{{BASE_LINK}}/reports/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Reports</a> 
    <a href="{{BASE_LINK}}/settings/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Settings</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>Military Unit Personnel</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:240px;margin-right:40px">
  
  <div class="w3-container" style="margin-top:20px">
    <h1 class="w3-jumbo"><b>{{UNIT_NAME}}</b></h1>
  </div>
  
  <!-- Modal for Full Details -->
  <div id="modal01" class="w3-modal w3-transparent-black">
    <span class="w3-button w3-transparent w3-xxlarge w3-display-topright" onclick="this.parentNode.style.display='none'">x</span>
    <div class="w3-modal-content w3-animate-zoom w3-large" style="width: 800px">
      <div class="w3-container w3-padding-32 w3-center">
        <img src="#" id="image" style="border: 1px solid gray;" />
      </div>
      <div class="w3-container w3-text-black" style="padding-bottom: 16px;">
        <div class="w3-container w3-left">
          <p><span class="w3-text-grey" id="modal_label_0"></span><span id="modal_text_0"></span></p>
          <p><span class="w3-text-grey" id="modal_label_1"></span><span id="modal_text_1" ></span></p>
          <p><span class="w3-text-grey" id="modal_label_2"></span><span id="modal_text_2" ></span></p>
          <p><span class="w3-text-grey" id="modal_label_3"></span><span id="modal_text_3" ></span></p>
        </div>
        <div class="w3-container w3-right">
          <p><span class="w3-text-grey" id="modal_label_4"></span><span id="modal_text_4"></span></p>
          <p><span class="w3-text-grey" id="modal_label_5"></span><span id="modal_text_5"></span></p>
          <p><span class="w3-text-grey" id="modal_label_6"></span><span id="modal_text_6"></span></p>
          <p><span class="w3-text-grey" id="modal_label_7"></span><span id="modal_text_7"></span></p>
        </div>
        <div class="w3-container w3-center">
          <p><span class="w3-text-grey" id="modal_label_8"></span><span id="modal_text_8"></span></p>
        </div>
      </div>
      <div class="w3-container w3-border-top w3-padding-8" id="modal_container_telephones">
        <p><span class="w3-text-grey">Telephone: </span><span class="w3-large" id="modal_text_telephones"></span></p>
      </div>
      <div class="w3-container w3-border-top w3-padding-8"  id="modal_container_officer_soldiers">
        <p><span class="w3-text-grey" id="modal_label_officer_soldiers">Officer Soldiers: </span><span id="modal_text_officer_soldiers"></span></p>
      </div>
      <div class="w3-container w3-border-top w3-padding-16" id="modal_container_injury_records">
        <p><span class="w3-text-grey">Injury Records: </span><span id="modal_text_injury_records">Injury Records</span></p>
      </div>
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey w3-xlarge w3-center">
        <button id="edit_button" type="button" class="w3-button w3-red w3-ripple w3-round-large" style="margin-right: 24px;">Edit</button>
        <button id="delete_button" type="button" class="w3-button w3-red w3-ripple w3-round-large">Delete</button>
      </div>

    </div>
  </div>

  <!-- Soldiers Table & Header -->
  <h1 class="w3-xxxlarge w3-text-red"><b>Soldiers</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  
  <div class="w3-responsive" style="max-height: 400px; white-space: nowrap;">
    <table class="w3-table-all w3-hoverable">
      <tr class="w3-red sticky-header-row">
        {% for header in database_tables['SOLDIER']['headers'] %}
          <th class="table-header" style="border: 2px solid white;"> {{header | replace('_', ' ')}} </th>
        {% endfor %}
      </tr>
      
      {% for id, dict in database_tables['SOLDIER']['dictionaries'].items() %}
        <tr onclick="onClick(this, '{{id}}', 'SOLDIER' )" >
          {% for key, value in dict.items() %}
            <td class="table-body"> {{value | replace('_', ' ') }} </td>
          {% endfor %}
        </tr>
      {% endfor %}
      
    </table>
  </div>

  <!-- Officers Table & Header -->
  <h1 class="w3-xxxlarge w3-text-red"><b>Officers</b></h1>
  <hr style="width:50px; border:5px solid red" class="w3-round">
  
  <div class="w3-responsive" style="max-height: 400px; white-space: nowrap;">
    <table class="w3-table-all w3-hoverable">
      <tr class="w3-red sticky-header-row">
        {% for header in database_tables['OFFICER']['headers'] %}
          <th class="table-header" style="border: 2px solid white;"> {{header | replace('_', ' ')}} </th>
        {% endfor %}
      </tr>
      
      {% for id, dict in database_tables['OFFICER']['dictionaries'].items() %}
        <tr onclick="onClick(this, '{{id}}', 'OFFICER' )">
          {% for key, value in dict.items() %}
            <td class="table-body"> {{value | replace('_', ' ')}} </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
  

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px; width: 100%;"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
var database_tables = JSON.parse('{{ database_tables | tojson | safe}}');
var soldier_dictionaries = database_tables['SOLDIER']['dictionaries'];
var officer_dictionaries = database_tables['OFFICER']['dictionaries'];
var injury_record_dictionaries = database_tables['INJURY_RECORD']['dictionaries'];
var telephones_dictionary = database_tables['TELEPHONE']['dictionaries'];
var officer_soldiers_dictionary = database_tables['OFFICER_SOLDIER']['dictionaries']; 

console.log(database_tables);

var soldier_attributes = ["MILITARY_ID", "NAME", "START_DATE", "END_DATE", "ROLE", "GROUP_NUM", "PRESENCE", "EDUCATION", "ADDRESS"];
var officer_attributes = ["MILITARY_ID", "NAME", "START_DATE", "YEARS_OF_SERVICE", "ROLE", "GUN_NUM", " ", " ", "ADDRESS"];

// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Creation
function onClick(element, id, type) {
  document.getElementById("image").src = null;
  document.getElementById("image").alt = "Selected " + (type == 'SOLDIER' ? 'Soldier' : 'Officer') + "'s Image";
  document.getElementById("modal01").style.display = "block";

  // Select from the appropriate dictionary according to type passed
  var selected_person = type == 'SOLDIER' ? soldier_dictionaries[id] : officer_dictionaries[id];
  var selected_attributes = type == 'SOLDIER' ? soldier_attributes : officer_attributes;

  populate_basic_labels(selected_person, selected_attributes);

  var telephones_container = document.getElementById("modal_container_telephones");
  var injury_records_container = document.getElementById("modal_container_injury_records");
   
  if(type == 'SOLDIER') {
    telephones_container.style.display = "block";
    injury_records_container.style.display = "block";
    populate_telephones_container(selected_person);
    populate_officer_soldiers_container(selected_person, type);
    populate_injury_records_container(selected_person);
  }
  else {
    telephones_container.style.display = "none";
    injury_records_container.style.display = "none";
    populate_officer_soldiers_container(selected_person, type);
  }
  
  //Add function to the buttons to redirect to the pages with the appropriate person
  document.getElementById("edit_button").setAttribute('onclick', 'redirect_to_edit(id, type)');
  document.getElementById("delete_button").setAttribute('onclick', 'delete_person(id, type)');
}

// Helper function to populate basic labels and information per selected person and their appropraite attributes
function populate_basic_labels(selected_person, selected_attributes) {
  for (let i = 0; i < selected_attributes.length; i++) {
    if (selected_attributes[i] == ' ') {
      document.getElementById("modal_label_" + i).innerHTML = '';
      document.getElementById("modal_text_" + i).innerHTML = '';
    }
    else if (selected_attributes[i] == 'ADDRESS') {
      document.getElementById("modal_label_" + i).innerHTML = 'Address: ';
      document.getElementById("modal_text_" + i).innerHTML = selected_person['ADDRESS_GOVERNORATE'] + ' - ' + 
                                                             selected_person['ADDRESS_TOWN'] + ' - ' +
                                                             selected_person['ADDRESS_STREET'];
    }
    else {
      document.getElementById("modal_label_" + i).innerHTML = beautify_text(selected_attributes[i]) + ': ';
      document.getElementById("modal_text_" + i).innerHTML = beautify_text(selected_person[selected_attributes[i]]);
    }
  }
}

// Helper function to populate soldier telephones
function populate_telephones_container(selected_person) {
  var telephones_text = document.getElementById("modal_text_telephones");
  var telephones = telephones_dictionary[selected_person["MILITARY_ID"]].toString();

  while (telephones.search(',') != -1)
    telephones = telephones.replace(',', " | ");

  telephones_text.innerHTML = telephones;
}

// Helper function to populate Officer Soldiers according to person type
function populate_officer_soldiers_container(selected_person, type) {
  officer_soldiers_container = document.getElementById("modal_container_officer_soldiers")
  officer_soldiers_label = document.getElementById("modal_label_officer_soldiers");
  officer_soldiers_text = document.getElementById("modal_text_officer_soldiers");

  if(type == 'SOLDIER') {
    if(selected_person['ROLE'].search('WITH_OFFICER') == -1)
      officer_soldiers_container.style.display = 'none';
    else {
        officer_soldiers_container.style.display = 'block';
        officer_of_soldier = officer_dictionaries[find_officer_id(selected_person['MILITARY_ID'].toString())];
        
        officer_soldiers_label.innerHTML = 'With Officer: ';
        officer_soldiers_text.innerHTML = officer_of_soldier['NAME'] + ' ( ID: ' + officer_of_soldier['MILITARY_ID'] + ' )';
    }
  }
  else {
    officer_soldiers_container.style.display = 'block';
    officer_soldiers_label.innerHTML = 'Soldiers: ';
    
    ids_of_soldiers_with_officer = officer_soldiers_dictionary[selected_person['MILITARY_ID']];

    soldiers_string = '';
    for (var i = 0; i < ids_of_soldiers_with_officer.length; i++) {
      soldier = soldier_dictionaries[ids_of_soldiers_with_officer[i]];
      soldiers_string += '<br/>' + (i + 1) + '. ' + soldier['NAME'] + ' ( ID: ' + soldier['MILITARY_ID'] + ' | End Date: ' + soldier['END_DATE'] + ' )';
    }

    officer_soldiers_text.innerHTML = soldiers_string;
  }
}

// Helper function to populate soldier injury records
function populate_injury_records_container(selected_person) {
  var injury_records_text = document.getElementById('modal_text_injury_records');
  var injury_records_string = '';
  
  var injuries = injury_record_dictionaries[selected_person['MILITARY_ID']];

  if(injuries !== undefined)
    for(var i = 0; i < injuries.length; i++)
      injury_records_string += '<br/>' + (i + 1) + '. Injury Number (' + 
                                                      injuries[i]['INJURY_RECORD_ID'] + ') on (' + 
                                                      injuries[i]['DATE'] + ') of type: (' + 
                                                      beautify_text(injuries[i]['TYPE']) + ')';
  else
    injury_records_string = 'Soldier has no injury records';

  injury_records_text.innerHTML = injury_records_string;
}

function find_officer_id(soldier_id) {
  for (var key in officer_soldiers_dictionary) {
    if((officer_soldiers_dictionary[key]).includes(soldier_id))
      return key;
  }

}

// Helper function to make text a little bit more visually appealing
function beautify_text(str) {
  str = str.toString();
  str = str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
  str = str.replace('_', ' ');
  str = str.replace('_', ' ');

  return str;
}

function redirect_to_edit(id, type) {
  // TODO
  return
}

function delete_person(id, type) {
  // TODO
  return
}
</script>

</body>
</html>
